resource "aws_organizations_organization" "this" {
  aws_service_access_principals = [
    "cloudtrail.amazonaws.com",
    "config.amazonaws.com",
    "ram.amazonaws.com",
    "config.amazonaws.com",
    "config-multiaccountsetup.amazonaws.com",
    "securityhub.amazonaws.com"
  ]
  enabled_policy_types = ["SERVICE_CONTROL_POLICY", "AISERVICES_OPT_OUT_POLICY"]
  feature_set          = "ALL"
}

resource "aws_organizations_organizational_unit" "prod" {
  name      = "Prod"
  parent_id = aws_organizations_organization.this.roots[0].id
}

resource "aws_organizations_organizational_unit" "dev" {
  name      = "Dev"
  parent_id = aws_organizations_organization.this.roots[0].id
}

# Enable sharing with AWS Organizations 
# If you enable sharing with the accounts of your organization, 
# you can share resources without using invitations.
resource "aws_ram_sharing_with_organization" "this" {}
